/* src/components/ViewParticipants.css */

.view-participants-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .view-participants-container .btn-back {
    margin-top: 20px;
    align-self: center;
  }
  